.footer1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 467px;
    overflow: hidden;
    text-align: left;
    font-size: 26px;
    color: #e5e5e5;
    font-family: 'Red Hat Display';
}
.footer2 {
    position: absolute;
    top: -4px;
    left: 0px;
    background-color: #000;
    width: 100%;
    height: 471px;
}
.logo {
    position: relative;
    width: 5%;
    top: 14.56%;
    right: 56.85%;
    bottom: 38.94%;
    left: 31.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;

}
.footertitle {
    position: relative;
    top: 68px;
    left: 47%;
    font-size: 22px;
    line-height: 28px;
    font-family: Anybody;
    color: #f4bc31;
}
.tel {
    position: relative;
    top: 133px;
    left: 951px;
    line-height: 18px;
    color: inherit;
    text-decoration: none;
}


.adress {
    position: relative;
    top: 240px;
    left: 953px;
    line-height: 25px;
    color: inherit;
    text-decoration: none;
}

.mail {
    position: relative;
    top: 177px;
    left: 951px;
    line-height: 18px;
    color: inherit;
    text-decoration: none;
}

.footerChild {
    position: relative;
    top: 348px;
    left: -0.54px;
    border-top: 1px dashed #fff;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
}
.footer3 {
    position: absolute;
    top: 390px;
    left: calc(50% - 346.5px);
    font-size: 22px;
    line-height: 28px;
    font-family: Anybody;
    color: #fff;
}

