/* title.module.css */
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&display=swap');

.title {
  position: relative;
  color: #fff;
  font-family: 'Anybody';
  font-weight: 600;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .title {
    height: auto;
  }

  .title,
  .subtitle {
    font-size: 0.9rem;
  }

  .title {
    margin-bottom: 10px;
  }

  .ligne {
    width: 35%;
  }

}